.button {
    margin-top: 4rem;
    height: 50px;
    border-radius: .5rem;
    font-weight: 500;
    color: #fff;
    background: #835afd;
    padding: 0 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: filter .2s;

    cursor: pointer;
    border: 0;

    img{
        margin-right: .5rem;
    }

    &:not(:disabled):hover{
        filter: brightness(.9)
    }

    &:disabled{
        cursor: not-allowed;
        opacity: .6;
    }
}